body {
padding: 400px;
background-color: rgb(36, 36, 36);
color: white;
}

h1 {
  font-family: sans-serif;
  font-size: 300%;
  text-align:center
}

div {
    text-align:center

}

button {
    font-family: sans-serif;
    background-color: rgb(36, 36, 36);
    color: white;
    border-color: white;
}

